.App {
  text-align: center;
  background-image: url("./Art/backgroundimage.jpg");
  flex-direction: column;
}
.video-txt{
  color: antiquewhite;
  
}
.tableview{
background-color: antiquewhite;
padding: 10%;
}

.mainform{
  padding-bottom: 25%;
  padding-top: 25%;
}
